* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-background {
    background-image: url(/Assets/about.png);
    height: 100vh;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background: #C4A159;
    width: 100%;
}
.nav h3 {
    font-size: 40px;
}
.logo img {
    position: absolute;
    height: 200px;
    top: -4rem;
    left: -1.6rem;
}
.nav-list {
    right: 0;
    top: 0;
    position: absolute;
    display: flex;
    margin: 6px;
}
.nav-link {
    display: flex;
}
.nav-link ul li{
    display: inline-block;
    border: 2px solid #212529;
    border-radius: 10px;
    padding: 5px;
    transition: all .5s;
}
.nav-link ul li:hover {
    background: #212529;
}
.active {
    background: #212529; 
    border: 2px solid#212529;
}
.nav-icon {
    display: flex;
    padding: 40px;
}
.nav-link li {
    margin: 10px 10px;
}
.nav-link ul li a {
    font-weight: 500px;
    text-decoration: none;
    padding: 20px;
    color: #fff;
}
.content {
    color: #fff;
}
.owner {
    font-size: 3rem;
    font-weight: 600;
}
img.photo {
    margin-top: 7rem;
}
.owner-description {
    width: 400px;
    margin-top: 1rem;
    letter-spacing: 1px;
    padding-top: .8rem;
    background: #212529;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid #C4A159;
}
section {
    background:  #e7e2d6;
    padding: 2rem 0;
    min-height: 50vh;
}
.nav {
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.nav.nav.nav-tabs {
    color: #212529;
    background:  #C4A159;
}
a.nav-link {
    color:  #212529;
    transition: all .5s;
    background:  #C4A159;
}
a.nav-link:hover{
    color:  #212529;
    background:  #C4A159;
}
.nav-tabs {
    background: transparent;
}
.tab-pane {
    margin: 1.5rem 0;
    min-height: 50vh;
    background-color:transparent;
    border: none;
}
.name {
    font-size: 2rem;
    font-weight: 600;
    color: #000;
}
.name-description {
    font-size: 15px;
    font-weight: 400;
}
.member-tag {
    font-size: 40px;
    font-weight: 600;
    color: #212529;

}
.col-sm-6 {
    margin-top: 1rem;
}
.box {
    margin: 2rem 0;
    padding: 1rem;
    background: #212529;
    color: #fff;
}
img.members {
    margin: 2rem 0;
}
.members {
    width: 150px;
}
.location-size {
    padding: 1rem 0;
    height: auto;
    background: #212529;
    border-radius: 2px;
}
input.form-control {
    border: 2px solid #212529;
}
button.btn-primary {
    background: transparent;
    color: #212529;
    border: 2px solid #212529;
}
button.btn-primary:hover {
    background: #212529;
    color: #fff;
    border: 2px solid #212529;
}
.bi-arrow-right {
    color: #fff;
} 
i.locate {
    margin: 0 .5rem;
    font-size: 22px;
    color: #212529;
}
i.locate:hover {
    color: #fff;
}
.nav-link ul li.active i{
    color:#fff;
}
.photo-box {
    max-width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;

}
.photo-box img {
    position: absolute;
    top: -13rem;
    left: 0;
}
.col-sm-2  {
    padding-top: 1rem;
}
.img {
    position: relative;
    width: 100%;
    box-shadow: 0 0 15px rgb(0, 0, 0, .5);
}
.img img {
    width: 100%;
    height: 450px;

}

/*Term & condition*/
.customer-review {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    text-align: center;
}

.container-table {
    width: 100%;
    background:  #C4A159;
    height: auto;
}
.table-box {
    width: 300px;
    margin: 1.5rem;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, .3);
    background: #e7e2d6;
    padding: 1rem;
    min-height: 300px;
}
.table-box-container {
    display: flex;
    justify-content: space-between;
}
.customer-review {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    text-align: center;
}
.customer-review span {
    font-weight: 700;
    font-size: 2rem;
    color: #212529;  
}
.comment {
    padding-top: .7rem;
    font-size: 12px;
}
.circle-policy {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #212529;
    margin-bottom: 1rem;
}
i.policy {
    position: absolute;
    top: 0;
    left: 1.2rem;
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
} 
.center-icon {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*footer*/
footer {
    min-height: 30vh;
    background: #212529;
}
.content-footer {
    margin-top: 3rem;
    color: #e7e2d6;
    text-align: center;
}
.content-footer h2 {
    margin-bottom: 1rem;
    font-weight: 700;
}
.content-footer p {
    font-size: 13px;
}
.content-offer {
    color: #B29457;
}
.content-input {
    margin-top: 5rem;
}
.form-control {
    border: #B29457;
    height: 3rem;
}
button.form-control {
    width: 20%;
    margin-left: 1rem;
    border: 2px solid #B29457;
    color: #212529;
    font-weight: 500;
    background: #B29457;
    transition: .5s;
}
button.form-control:hover {
    color: #fff;
    background: #212529;
}
/*Last Footer*/
.last {
    min-height: 45vh;
    background: #e7e2d6;
    padding-top: 2rem;
}
.last h5 {
    color:  #212529;
}
.last p {
    font-size: 13px;
}
.line {
    width: 100%;
    height: 1px;
    background: #212529;
}
.color {
    color: #C4A159;
    font-weight: 700;
} 



@media (max-width:768px) {
    .nav-list {
        display: none;
    }
    .logo img {
        height: 150px;
    }
}
