* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact-foooter {
    position: relative;
    padding-bottom: 56%;
    padding-top: 25px;
    height: 0px;
    overflow: hidden;
}
.contact-foooter iframe {
    position: absolute;
    top: -1rem;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 120%;
    height: 120%;
}
nav {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background: #C4A159;
    width: 100%;
}
.nav h3 {
    font-size: 40px;
}
.logo img {
    position: absolute;
    height: 200px;
    top: -4rem;
    left: -1.6rem;
}
.nav-list {
    right: 0;
    top: 0;
    position: absolute;
    display: flex;
    margin: 6px;
}
.nav-link {
    display: flex;
}
.nav-link ul li{
    display: inline-block;
    border: 2px solid #212529;
    border-radius: 10px;
    padding: 5px;
    transition: all .5s;
}
.nav-link ul li:hover {
    background: #212529;
}
.active {
    background: #212529; 
    border: 2px solid#212529;
}
.nav-icon {
    display: flex;
    padding: 40px;
}
.nav-link li {
    margin: 10px 10px;
}
.nav-link ul li a {
    font-weight: 500px;
    text-decoration: none;
    padding: 20px;
    color: #fff;
}

/*Dropdown*/
.dropdown {
    margin-top: -.7rem;
    font-size: 50px;
    color: #212529;
    margin-left: 1.5rem;
    margin-right: 1rem;
}
.dropdown-toggle {
    border: 2px solid #212529;
    background: transparent;
    border-radius: 10px;
}
.dropdown-toggle:hover {
    color: #fff;
    border: 2px solid #212529;
    background: #212529;
}
/*icon menu*/
.bi {
    margin-right: 10px;
}
.content {
    text-align:center;
}
.content a{
    left: 40%;
    top: 30%;
    position: absolute;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    color:#fff;
    display:inline-block;
    border: 2px solid #fff;
    padding: 0 2%;
    margin-top: 10rem;
    text-transform: uppercase;
}
.business-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1; /*if the video is not fit*/
}
/*contact body*/

.contact-body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    color: #fff;
    background: #212529;
}
.parag {
    font-size: 12px;
    text-align: center;
}
.contact-note {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.paragraph {
    width: 50ch;
    margin-top: 4rem;
    text-align: center;
    margin-bottom: 4rem;
}
.contact-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.need-validation {
    width: 60%;
}
.contact-body h4 {
    margin: 4rem 0;
}
div.col-sm-4 {
    font-size: 30px;
    text-align: center;
    border-right: 2px solid white;
}
div.col-sm-4:last-child {
    border-right: none;
}
div.col-sm-4 h6, div.col-sm-4 i {
    margin-bottom: 2rem;
    color:  #C4A159;
}
.col-sm-12 input {
    width: 100%;
    margin: .3rem 0;
}
.col-sm-12 textarea {
    width: 100%;
    margin: .3rem 0;
}
input.btn {
    background: #C4A159;
    border: 2px solid #C4A159;
    transition: .5s;
}
input.btn:hover {
    background: transparent; 
    border: 2px solid #C4A159;
}
.contac-link h4 {
    text-align: center;
}
.contact-icon-link  i {
    padding: 0 1rem;
    color: #C4A159;
    font-size: 22px;
}
.contact-icon-link {
    margin-bottom: 4rem;
}
.contact-map {
    min-height: 50vh;
    background:#e7e2d6;
}
.location-img {
    height: 400px;
    margin: 2rem;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(0, 0, 0, .5);
    position: relative;
}
.location-img img {
    position: absolute;
    top: -22rem;
}
.content-description {
    background: #B29457;
    width: 90%;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;  
    color: #212529; 
    box-shadow: 0 0 15px rgb(0, 0, 0, .5);
}
.empty-box-first {
    width: 90%;
    height: 3px;
    background:  #B29457;
    border-radius: 2px;
    margin-top: 2rem;
}
.empty-box {
    width: 90%;
    height: 3px;
    background:  #B29457;
    border-radius: 2px;
    margin: 1rem 0;
}
.content-description h5 {
    color: #212529;
} 

/*footer*/
footer {
    min-height: 30vh;
    background: #212529;
}
.content-footer {
    margin-top: 3rem;
    color: #e7e2d6;
    text-align: center;
}
.content-footer h2 {
    margin-bottom: 1rem;
    font-weight: 700;
}
.content-footer p {
    font-size: 13px;
}
.content-offer {
    color: #B29457;
}
.content-input {
    margin-top: 5rem;
}
.form-control {
    border: #B29457;
    height: 3rem;
}
button.form-control {
    width: 20%;
    margin-left: 1rem;
    border: 2px solid #B29457;
    color: #212529;
    font-weight: 500;
    background: #B29457;
    transition: .5s;
}
button.form-control:hover {
    color: #fff;
    background: #212529;
}
/*Last Footer*/
.last {
    min-height: 45vh;
    background: #e7e2d6;
    padding-top: 2rem;
}
.last h5 {
    color:  #212529;
}
.last p {
    font-size: 13px;
}
.line {
    width: 100%;
    height: 1px;
    background: #212529;
}
.color {
    color: #C4A159;
    font-weight: 700;
} 