* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-nav {
	min-height: 100vh;
	width: 100%;
	background-image: url("/Assets/home.png");
	background-position: center;
	background-size: cover;
	position: relative;
}
.nav {
    display: flex;
    justify-content: space-between;
    background: #C4A159;
    height: 10vh;
}
.nav h3 {
    font-size: 40px;
}
.logo img {
    position: absolute;
    height: 200px;
    top: -3.7rem;
    left: -1.6rem;
}
.nav-list {
    display: flex;
}
.nav-link {
    display: flex;
}
.nav-link ul li{
    display: inline-block;
    border: 2px solid#212529;
    border-radius: 10px;
    padding: 5px;
    transition: all .5s;
}
.nav-link ul li:hover {
    background: #212529;
}
.active {
    background: #212529;
}
.nav-icon {
    display: flex;
    padding: 40px;
}
.nav-link li {
    margin: 10px 10px;
}
.nav-link ul li a {
    font-weight: 500px;
    text-decoration: none;
    padding: 20px;
    color: #fff;
}
.icon-dropdown {
    margin: 10px 20px;
}
.nav-dropdown {
    margin: 20px;
    color: white;
}
.dropdown {
    border: 2px solid #212529;
    border-radius: 10px;
    transition: all .5s;
}
.dropdown:hover {
    background:  #212529;
    border: 2px solid  #212529;
}
.nav-dropdown ul {
    background:  #212529;
}
.nav-dropdown li {
    transition: .5s;
    background: #212529;
}
.nav-dropdown li a {
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    transition: all .1s;
}
.brand {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.brand h1 {
    text-align: center;
    line-height: 60px;
}
.brand button {
    margin: 2% auto;
}
.brand button a {
    text-decoration: none;
    color: #fff;
    transition: all .5s;
}
button.btn.active {
    font-size: 22px;
    color: #fff;
    border: 2px solid #212529;
    font-weight: 600;
    background: #212529;
}
button.btn.active:hover {
    background: transparent;
    color: #212529;  
}

