* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.mycart {
    position: relative;
    min-height: 30vh;
    background: #C4A159; 
}
.mycart-content {
    position: absolute;
    right: 40%;
}
.purchased {
    color: #212529;
    font-size: 40px;
    font-weight: 700;
    padding-top: 2rem;
} 
.goback {
    display: flex;
    padding: 1rem 3rem;
}
.goback button.form-control a {
    text-decoration: none;
    color: #fff;
}
.goback button.form-control {
    font-weight: 500;
    border: 2px solid #212529;
    background: #212529;
    transition: .5s;
    color: #fff;
}
.goback button.form-control:hover {
    background: transparent;    
}
.name {
    margin-top: 2rem;
}
section {
    background: #e7e2d6;
    height: 100vh;
}
.label {
    font-size: 22px;
    font-weight: 600;
    color: #212529;
}
textarea,.input-group,select,.margin {
    margin: .5rem;
    border: 2px solid #212529;
}
.submit {
    margin: 2rem 0rem;
    border: 2px solid #212529;
    font-size: 20px;
    font-weight:700;
    background: #212529;
    color: #fff;
}
.submit:hover {
    border: 2px solid #212529; 
}
/*modal dialog*/
.modal-header,.modal-footer {
    border: none;
}
.modal-body,.modal-header,.modal-footer {
    background: #C4A159;
}
.checkout-btn {
    width: 60%;
    font-weight: 600;
    border: 2px solid #212529;
    color: #fff;
    background: #212529;
    transition: all .5s ease;
}
.checkout-btn:hover {
    border: 2px solid #212529;
    background: #e7e2d6;
    color: #212529;
}
.greet {
    font-size: 30px;
    font-weight: 700;
}
.col-sm-12 a {
    text-decoration: none;
}