* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*navigation link*/
nav {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background: #C4A159;
    width: 100%;
}
.nav h3 {
    font-size: 40px;
}
.logo img {
    position: absolute;
    height: 200px;
    top: -4rem;
    left: -1.6rem;
}
.nav-list {
    right: 0;
    top: 0;
    position: absolute;
    display: flex;
    margin: 6px;
}
.nav-link {
    display: flex;
}
.nav-link ul li{
    display: inline-block;
    border: 2px solid #212529;
    border-radius: 10px;
    padding: 5px;
    transition: all .5s;
}
.nav-link ul li:hover {
    background: #212529;
}
.active {
    background: #212529; 
    border: 2px solid#212529;
}
.nav-icon {
    display: flex;
    padding: 40px;
}
.nav-link li {
    margin: 10px 10px;
}
.nav-link ul li a {
    font-weight: 500px;
    text-decoration: none;
    padding: 20px;
    color: #fff;
}

/*Dropdown*/
.dropdown-menu1{
    margin-top: -.7rem;
    font-size: 50px;
    color: #212529;
    margin-left: 1.5rem;
    margin-right: 1rem;
}
.dropdown-toggle {
    border: 2px solid #212529;
    background: transparent;
    border-radius: 10px;
}
.dropdown-toggle:hover {
    color: #fff;
    border: 2px solid #212529;
    background: #212529;
}
/*icon menu*/
/*.bi {
    margin-right: 10px;
} */
.container-box.item {
    width: 100%;
    height: auto;
    background: #e7e2d6;
}
/*Product part search*/
.search-cat {
    margin-right: 1rem;
}

button.btn.position-relative{
    margin-left: 1rem;
}
button.btn.position-relative:hover {
    background: #484f57;   
}
.btn {
    background: #212529;
}
input.form-group {
    position: relative;
    width: 50%;
    border-radius: 10px;
    border: 2px solid  #212529;
    margin-right: 1rem;
}
button.btn.search:hover {
    background: #484f57;
}
i.bi.bi-search,i.bi.bi-cart4 {
    color: #fff;
}
.nav-bg {
    background: transparent;
    font-size: 15px;
    font-weight: 600;
}
.nav-link {
    color: #C4A159;
}
.tab-pane {
    background: transparent;
    border: none;
}
/*product container*/
.container-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-top: 3%;
    min-height: 70vh;
}
.container-box:last-child {
    padding-bottom: 3%;
}
#description {
    font-weight: 600;
}
.grid-item h6 {
    padding-top: .5rem;
}
.grid-item {
    width: 300px;
    height: 250px;
    background: #fff;
    box-shadow: 0 0 15px rgb(0, 0, 0, .5);
    position: relative;
    border-radius: 10px;
}
.grid-item:hover {
    padding:10px;
    border: 2px solid black;
    transition: .5s;
}
.product-img {
    width: 300px;
    height: 250px;
}
.bi.bi-star-fill,.bi-star-half {
    color: yellow;
}
.price {
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 3.5rem;
    padding-top: 1.3rem;

}
.rate,.grid-item h6 {
    margin-left: .5rem;
}
.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #212529;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}
.add-cart-zoom {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #212529;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}
.bi-heart {
    position: absolute;
    bottom: 0;
    left: 2.3rem;
    background: #212529;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}


/*Pagination part*/
.section-pagination {
    justify-content: center;
    background: transparent;
    font-weight: 600;
}
.page-item a{
    font-size: 1rem;   
    color: #fff;
    background: #212529;
}
.page-item a:hover {
    color: #212529;

}
.margin-box {
    margin: 15px;
} 
/*section-box*/
.customer-review {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    text-align: center;
}
.customer-review span {
    font-weight: 700;
    font-size: 2rem;
    color: #212529;  
}

.container-table {
    width: 100%px;
    background:  #C4A159;
    height: auto;
}
.table-box {
    width: 400px;
    margin: 1.5rem;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, .3);
    background: #e7e2d6;
    padding: 1rem;
    max-height: auto;
}
.table-box-container {
    display: flex;
    justify-content: space-between;
}
.comment {
    padding-top: .7rem;
    font-size: 12px;
}
.top-img {
    display: flex;
}
.rate-customer {
    padding-top: 1rem;
    padding-left: 1rem;
}
.rate-customer i{
    color: yellow;
    font-size: 15px;
}
.qoute {
    transform: rotate(180deg);
}
.img-table img {
    position: absolute;
    height: 120px;
    left: -1rem;
}


/*footer*/
footer {
    min-height: 30vh;
    background: #212529;
}
.content-footer {
    margin-top: 3rem;
    color: #e7e2d6;
    text-align: center;
}
.content-footer h2 {
    margin-bottom: 1rem;
    font-weight: 700;
}
.content-footer p {
    font-size: 13px;
}
.content-offer {
    color: #B29457;
}
.content-input {
    margin-top: 5rem;
}
.form-control {
    border: #B29457;
    height: 3rem;
}
button.form-control {
    width: 20%;
    margin-left: 1rem;
    border: 2px solid #B29457;
    color: #212529;
    font-weight: 500;
    background: #B29457;
    transition: .5s;
}
button.form-control:hover {
    color: #fff;
    background: #212529;
}
/*Last Footer*/
.last {
    min-height: 45vh;
    background: #e7e2d6;
    padding-top: 2rem;
}
.last h5 {
    color:  #212529;
}
.last p {
    font-size: 13px;
}
.line {
    width: 100%;
    height: 1px;
    background: #212529;
}
.color {
    color: #C4A159;
    font-weight: 700;
} 
/*fliptap*/


  /* THE CARD HOLDS THE FRONT AND BACK FACES */
  #thecard1,#thecard17,#thecard18,#thecard19,#thecard20{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 1s ease;
  }
  #thecard2,#thecard15,#thecard16,#thecard21,#thecard22{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 1s ease;
  }
  #thecard3,#thecard13,#thecard14,#thecard23,#thecard24{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 1s ease;
  }
  #thecard4,#thecard11,#thecard12{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 1s ease;
  }
  #thecard5,#thecard9,#thecard10{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 1s ease;
  }
  #thecard6,#thecard7,#thecard8{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 1s ease;
  }
  
  /* THIS USED TO BE THE PSUEDO CLASS CONTROLS THAT FLIP ON MOUSEOVER AND MOUSEOUT IN CSS */
  /* BUT NOW THIS CLASS IS BEING CALLED IN JAVASCRIPT WHEN THE CARD IS CLICKED */   
  .flipper{
    transform: rotateY(180deg);
  }
  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
   .thefront{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
  }
  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  .theback{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #C4A159;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
  }
  /*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
  .thefront h1, .theback h1{
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  .btn.myCart {
    margin-top: 1.5rem;
    color: #fff;
    margin-left: 2rem;
    font-weight: 600;
  }
  .btn.myCart:hover {
    color: #212529;
    border: 2px solid #212529;
  }

