* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*navigation link*/
nav {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background: #C4A159;
    width: 100%;
}
.nav h3 {
    font-size: 40px;
}
.logo img {
    position: absolute;
    height: 200px;
    top: -4rem;
    left: -1.6rem;
}
.nav-list {
    right: 0;
    top: 0;
    position: absolute;
    display: flex;
    margin: 6px;
}
.nav-link {
    display: flex;
}
.nav-link ul li{
    display: inline-block;
    border: 2px solid #212529;
    border-radius: 10px;
    padding: 5px;
    transition: all .5s;
}
.nav-link ul li:hover {
    background: #212529;
}
.active {
    background: #212529; 
    border: 2px solid#212529;
}
.nav-icon {
    display: flex;
    padding: 40px;
}
.nav-link li {
    margin: 10px 10px;
}
.nav-link ul li a {
    font-weight: 500px;
    text-decoration: none;
    padding: 20px;
    color: #fff;
}
.container-box.item {
    width: 100%;
    height: auto;
    background: #e7e2d6;
}
/*Product part search*/
.search-cat {
    margin-right: 1rem;
}
button.btn.position-relative{
    margin-left: 1rem;
}
button.btn.position-relative:hover {
    background: #484f57;   
}
.btn {
    background: #212529;
}
input.form-group {
    position: relative;
    width: 50%;
    border-radius: 10px;
    border: 2px solid  #212529;
    margin-right: 1rem;
}
button.btn.search:hover {
    background: #484f57;
}
i.bi.bi-search,i.bi.bi-cart4 {
    color: #fff;
}
.nav-bg {
    background: transparent;
    font-size: 15px;
    font-weight: 600;
}
.nav-link {
    color: #C4A159;
}
.tab-pane {
    background: transparent;
    border: none;
}
/*product container*/
.container-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-top: 3%;
}
.container-box:last-child {
    padding-bottom: 3%;
}
#description {
    font-weight: 700;
}
.grid-item h6 {
    padding-top: .5rem;
}
.grid-item {
    width: auto;
    height: auto;
    background: #fff;
    box-shadow: 0 0 15px rgb(0, 0, 0, .3);
    position: relative;
}
.grid-item:hover {
    padding:10px;
    border: 2px solid black;
    transition: .4s;
}
.product-img {
    width: 300px;
    height: 250px;
}
.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .5rem;
    margin-left: .5rem;
}
.price {
    font-weight: 700;
    margin-left: .5rem;
    font-size: 2rem;
}
.rate,.grid-item h6 {
    margin-left: .5rem;
}
.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #212529;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: .5s;
}
.add-cart i:hover {
    background: #C4A159;
}
/*Pagination part*/
.section-pagination {
    justify-content: center;
    background: transparent;
    font-weight: 600;
}
.page-item a{
    font-size: 1rem;   
    color: #fff;
    background: #212529;
}
.page-item a:hover {
    color: #212529;

}
.margin-box {
    margin: 15px;
} 
/*section-box*/
.customer-review {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    text-align: center;
}
.customer-review span {
    font-weight: 700;
    font-size: 2rem;
    color: #212529;  
}




.container-table {
    width: 100%px;
    background:  #C4A159;
    height: auto;
}
.table-box {
    width: 400px;
    margin: 1.5rem;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, .3);
    background: #e7e2d6;
    padding: 1rem;
    max-height: auto;
}
.table-box-container {
    display: flex;
    justify-content: space-between;
}
.comment {
    padding-top: .7rem;
    font-size: 12px;
}
.top-img {
    display: flex;
}
.rate-customer {
    padding-top: 1rem;
    padding-left: 1rem;
}
.rate-customer i{
    color: yellow;
    font-size: 15px;
}
.qoute {
    transform: rotate(180deg);
}
.img-table img {
    position: absolute;
    height: 120px;
    left: -1rem;
}
.rate {
    position: relative;
    height: 30px;
    width: 120px;
    overflow: hidden;
}

footer {
    text-align: center;
}
footer i {
    margin: 0 .3rem 0 .3rem;
}
.rate {
    color: yellow;
}
.footer-end {
    min-height: 50vh;
    background: #212529;
    font-weight: 200;
}
.footer-box {
    padding: 3rem;
}
.footer-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.footer-content h5 {
    text-transform: uppercase;
    line-height: 2rem;
}
.footer-content span {
    height: 1px;
    width: 75%;
    background: white;
    margin-top: 3rem;
}
.footer-link li {
    display: inline-block;
    margin: 3rem 2rem 2rem 2rem;
}
.footer-link ul {
    list-style: none;
}
.footer-link ul li a {
    text-decoration: none;
    color: #fff;
}
.footer-content p {
    width: 50ch;
}
